$font-stack:    Arial, Helvetica, sans-serif;

$white: #FFFFFF;
$yellow: #fdd835;
$yellow-lighter:   lighten(#fdd835, 20%);
$yellow-darker:    lighten(#fdd835, 70%);
$black: #000000;
$red: #B20000;
$gray-darker:  lighten(#000, 13.5%);
$gray-dark:    lighten(#000, 20%);
$gray:         lighten(#000, 33.5%);
$gray-light:   lighten(#000, 70.7%);
$gray-lighter: lighten(#000, 93.5%);
$light-blue: #add8e6;

$HEADER_HEIGHT: 50px;

// DOCUMENT STYLES

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $font-stack;
}

main {
    height: calc(100% - #{$HEADER_HEIGHT});
}

// HEADER STYLES

.header-title {
  height: $HEADER_HEIGHT;
  margin: 0px;
  padding-left: 20px;
  font-size: 24px;
  display: inline-block;
}

.header {
    height: $HEADER_HEIGHT;
    margin: 0px;
    color: $gray-darker;
    font-size: 24px;
    margin: 0px;
    line-height: $HEADER_HEIGHT;
    text-align: center;
    background-color: $light-blue;
    font-weight: 100;
}

.boards-expand {
  -webkit-appearance: none;
  background:white;
  text-transform:uppercase;
  font-size:24px;
  height: 50px;
  padding: 10px 10px;
  border:none;
  outline:none;
  transition: all 0.2s;
  cursor:pointer;
  float: right;
}

// MYBOARDS NAV

$MYBOARDS_ITEM_PADDING: 5px;
$MYBOARDS_ITEM_MARGIN: 10px;
$MYBOARDS_HEADER_HEIGHT: 30px;
$MYBOARDS_WIDTH: 220px;

.myboards-nav {
    background-color: $gray-lighter;
    width: $MYBOARDS_WIDTH;
    height: 100%;
    float: left;
    overflow-y: auto;
}

.myboards-nav-mobile {
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  height: auto;
  max-height: 30%;
  padding-bottom: 15px;
}

.myboards-header {
    color: $gray-darker;
    font-size: 16px;
    text-align: center;
    height: $HEADER_HEIGHT;
    line-height: $HEADER_HEIGHT;
}

.myboards {
    margin: 0px;
    padding: 0px;
}

.myboards-input {
    margin-left: $MYBOARDS_ITEM_MARGIN;
    margin-right: $MYBOARDS_ITEM_MARGIN;
    margin-bottom: $MYBOARDS_ITEM_MARGIN;
    padding: $MYBOARDS_ITEM_PADDING;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-light;
    outline: 0px;
    box-sizing: border-box;
    width: calc(100% - #{$MYBOARDS_ITEM_MARGIN}*2);
    transition: border-color 200ms ease-in;
}

.myboards-input:hover, .myboards-input:focus {
    border-color: $light-blue;
    transition: border-color 200ms ease-in;
}

.myboards-el {
    color: $gray-dark;
    background-color: $gray-light;
    list-style: none;
    text-align: center;
    padding-top: $MYBOARDS_ITEM_PADDING;
    padding-bottom: $MYBOARDS_ITEM_PADDING;
    margin-bottom: $MYBOARDS_ITEM_MARGIN;
    margin-left: $MYBOARDS_ITEM_MARGIN;
    margin-right: $MYBOARDS_ITEM_MARGIN;
    border-width: 2px;
    border-style: solid;
    border-color: solid;
    border-color: transparent;
    transition: border-color 200ms ease-in, opacity 200ms ease-in;
    cursor: pointer;
}

.myboards-el:hover {
    border-color: $light-blue;
    transition: border-color 200ms ease-in;
}

.active-board-item-selected {
    color: $gray-dark;
    background-color: $gray-light;
    list-style: none;
    text-align: center;
    padding-top: $MYBOARDS_ITEM_PADDING;
    padding-bottom: $MYBOARDS_ITEM_PADDING;
    margin-bottom: $MYBOARDS_ITEM_MARGIN;
    margin-left: $MYBOARDS_ITEM_MARGIN;
    margin-right: $MYBOARDS_ITEM_MARGIN;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-darker;
    transition: border-color 200ms ease-in, opacity 200ms ease-in;
    cursor: pointer;
}

.active-board-item-selected:hover {
    border-color: $light-blue;
    transition: border-color 200ms ease-in;
}


//ACTIVE BOARD SECTION

$ACTIVE_BOARD_MARGIN: 20px;
$ACTIVE_BOARD_PADDING: 10px;
$BOARD-WIDTH: calc(100% - #{$MYBOARDS_WIDTH});

.board {
    background-color: $white;
    border-top: 1px black;
    border-left: 1px black;
    margin: 0px;
    padding: 0px;
}

.board-header {
    height: $HEADER_HEIGHT;
    text-align: center;
}

.board-delete-btn {
    background-color: $gray-light;
    color: $white;
    opacity: .8;
    padding: 10px 10px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-delete-btn:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-delete-btn:focus {
    outline: 0px;
    margin: 4px 2px;
}

.board-add-column-btn {
    background-color: $gray-light;
    color: $white;
    opacity: .8;
    padding: 10px 10px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-add-column-btn:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-add-column-btn:focus {
    outline: 0px;
    margin: 4px 2px;
}

.board-remove-column-btn {
    background-color: $gray-light;
    color: $white;
    opacity: .8;
    padding: 10px 10px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-remove-column-btn:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
    margin: 4px 2px;
}

.board-remove-column-btn:focus {
    outline: 0px;
    margin: 4px 2px;
}

.board-title {
    font-size: 16px;
    color: $gray-darker;
    line-height: $HEADER_HEIGHT;
    font-weight: 600;
    display: inline-block;
}

.board-content {
    padding: 5px;
}

.board-tray {
    padding: 10px;
    vertical-align: bottom;
    height: 100px;
}

.card-input {
    float: left;
    padding: 10px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-light;
    outline: 0px;
    box-sizing: border-box;
    width: 300px;
    transition: border-color 200ms ease-in;
}

.card-input:hover, .card-input:focus {
    border-color: $light-blue;
    transition: border-color 200ms ease-in;
}

.card-buttons {
    float: right;
}

.card-forward-btn {
    background-color: $gray-light;
    color: $white;
    opacity: .8;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    margin-top: 0px;
    cursor: pointer;
}

.card-forward-btn:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

.card-backward-btn {
    background-color: $gray-light;
    color: $white;
    opacity: .8;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    margin-top: 0px;
    cursor: pointer;
}

.card-backward-btn:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

.card-delete-btn {
    background-color: $gray-light;
    opacity: .8;
    color: $red;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    margin-top: 0px;
    cursor: pointer;
}

.card-delete-btn:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

.board-columns {
    vertical-align: top;
}

.column-header {
    background: rgba(0,0,0,0);
    border: none;
    font-size: 14px;
    color: $gray-darker;
    line-height: ($HEADER_HEIGHT / 2);
    font-weight: 600;
    // text-align: center;
}

.column-header:hover {
    border-color: $gray-light;
    transition: border-color 200ms ease-in;
}


.column {
    height: 100%;
    vertical-align: top;
    // width: calc(#{$BOARD-WIDTH} / 3);
    width: (100% / 3.3);
    display: inline-block;
    border: 1px solid $black;
    background-color: $light-blue;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    // border-radius: 5px;
}

//UL that houses cards
.column-el {
    list-style: none;
    padding: 0;
}

.card-el {
    width: 100%;
    height: auto;
    background-color: $gray-lighter;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: $gray-darker;
    transition: border-color 200ms ease-in;
    border-radius: 2px;
    padding-left: 3px;
    overflow: hidden;
    font-size: 14px;
    display: block;
}

.card-el:hover {
    border-color: $gray;
    transition: border-color 200ms ease-in;
}

.active-card {
    color: $gray-dark;
    background-color: $gray-light;
    list-style: none;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-darker;
    transition: border-color 200ms ease-in, opacity 200ms ease-in;
    cursor: pointer;
}

.active-column {
    color: $gray-dark;
    background-color: $light-blue;
    list-style: none;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-darker;
    transition: border-color 200ms ease-in, opacity 200ms ease-in;
    cursor: pointer;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}



@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fade-in {
    opacity:1;
    animation : fadein 200ms linear;
}

@keyframes fadeout {
    50% {
        opacity: 0; }
    100% {
        opacity: 0; } }
    .fadeout-el {
        animation: fadeout 800ms linear; }


//MEDIA QUERIES FOR MOBIlE/SMALLER SCREENS

@media (min-width: 650px) {
    .myboards-nav {
        width: $MYBOARDS_WIDTH;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    .boards-expand {
      display: none;
    }
    .board {
        width: calc(100% - #{$MYBOARDS_WIDTH});
        float: right;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
    }
}

@media (max-width: 650px) {
    .myboards-nav {
      display: none;

    }
    .boards-expand {
      display:inline-block;
      border: 1px darkgray solid;
      padding: 10px;
      height: auto;
    }

    .board-header {
      height: auto;
      float: none;
    }

    .board-delete-btn {
      float: none;
    }

    .board-add-column-btn {
      float: none;
    }

    .board-remove-column-btn {
      float: none;
    }

    .board-tray {
      height: auto;
    }

    .card-input {
      box-sizing: content-box;
      float: none;
      margin-bottom: 15px;
    }

    .card-buttons {
      float: none;
      text-align: center;

    }

    .board-title {
      line-height: 20px;
      display: block;
      padding: 5px;
    }
    .board {
        padding: 10px;
    }
}
