$font-stack:    Arial, Helvetica, sans-serif;

$white: #FFFFFF;
$yellow: #fdd835;
$yellow-lighter:   lighten(#fdd835, 20%);
$yellow-darker:    lighten(#fdd835, 70%);
$black: #000000;
$red: #B20000;
$gray-darker:  lighten(#000, 13.5%);
$gray-dark:    lighten(#000, 20%);
$gray:         lighten(#000, 33.5%);
$gray-light:   lighten(#000, 70.7%);
$gray-lighter: lighten(#000, 93.5%);
$light-blue: #add8e6;

$HEADER_HEIGHT: 50px;

// DOCUMENT STYLES

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $font-stack;
}

main {
    height: calc(100% - #{$HEADER_HEIGHT});
}

// HEADER STYLES

.header-title {
    color: $white;
    font-size: 24px;
    margin: 0px;
    line-height: $HEADER_HEIGHT;
    text-align: center;
    background-color: purple;
    font-weight: 100;
}

.header {
    background-color: $yellow;
    height: $HEADER_HEIGHT;
    margin: 0px;
}

// BOARD NAV

$MYBOARDS_ITEM_PADDING: 5px;
$MYBOARDS_ITEM_MARGIN: 10px;
$MYBOARDS_HEADER_HEIGHT: 30px;
$MYBOARDS_WIDTH: 220px;

.myboards-nav {
    background-color: $yellow;
    width: $MYBOARDS_WIDTH;
    height: 100%;
    float: left;
    overflow-y: auto;
}

.myboards-header {
    color: $black;
    font-size: 16px;
    text-align: center;
    height: $HEADER_HEIGHT;
    line-height: $HEADER_HEIGHT;
}

.myboards {
    margin: 0px;
    padding: 0px;
}

.myboards-el {
    color: $gray-dark;
    background-color: $gray-light;
    list-style: none;
    text-align: center;
    padding-top: $MYBOARDS_ITEM_PADDING;
    padding-bottom: $MYBOARDS_ITEM_PADDING;
    margin-bottom: $MYBOARDS_ITEM_MARGIN;
    margin-left: $MYBOARDS_ITEM_MARGIN;
    margin-right: $MYBOARDS_ITEM_MARGIN;
    border-width: 2px;
    border-style: solid;
    border-color: solid;
    border-color: transparent;
    transition: border-color 200ms ease-in, opacity 200ms ease-in;
    cursor: pointer;
}

.myboards-el:hover {
    border-color: $gray;
    transition: border-color 200ms ease-in;
}

.myboards-input {
    margin-left: $MYBOARDS_ITEM_MARGIN;
    margin-right: $MYBOARDS_ITEM_MARGIN;
    margin-bottom: $MYBOARDS_ITEM_MARGIN;
    padding: $MYBOARDS_ITEM_PADDING;
    border-width: 2px;
    border-style: solid;
    border-color: $gray-light;
    outline: 0px;
    box-sizing: border-box;
    width: calc(100% - #{$MYBOARDS_ITEM_MARGIN}*2);
    transition: border-color 200ms ease-in;
}

.myboards-input:hover, .myboards-input:focus {
    border-color: $yellow;
    transition: border-color 200ms ease-in;
}

//ACTIVE BOARD SECTION

$ACTIVE_BOARD_MARGIN: 20px;
$ACTIVE_BOARD_PADDING: 10px;
$BOARD-WIDTH: calc(100% - #{$MYBOARDS_WIDTH});

.board {
    background-color: $yellow;
    border-top: 1px black;
    border-left: 1px black;
}

.board-header {
    height: $HEADER_HEIGHT;
    text-align: center;
}

.main-board {
    margin-top: $ACTIVE_BOARD_MARGIN;
    margin-right: auto;
    width: 100%;
    padding: 5px;
}

.board-title {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
}

.delete-board-button {
    color: $black;
    background-color: $red;
    padding: 6px 8px 6px 8px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    opacity: .2;
    transition: opacity 200ms ease-in;
}

.delete-board-button:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.delete-board-button:focus {
    outline: 0px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.column {
    height: 100%;
    width: calc(#{$BOARD-WIDTH} / 3);
    display: inline-block;
    border: 1px solid $black;
    background-color: $light-blue;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.card-el {
    width: 100%;
    height: auto;
    min-height: 20px;
    list-style: none;
    background-color: $gray-lighter;
    // padding: $ACTIVE_BOARD_PADDING;
    margin-bottom: 15px;
    margin-top: 10px;
    color: $black;
    transition: border-color 200ms ease-in;
    line-height: 30px;
    border-radius: 2px;
    padding-left: 3px;
}

li.card-el:hover {
    border-color: $gray;
    transition: border-color 200ms ease-in;
}

//MEDIA QUERIES FOR MOBIlE/SMALLER SCREENS

@media (min-width: 650px) {
    .myboards-nav {
        width: $MYBOARDS_WIDTH;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    .board {
        width: calc(100% - #{$MYBOARDS_WIDTH});
        float: right;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 650px) {
    .myboards-nav {

    }
    .board {
        padding: 10px;
    }
}
